{## Table of contents

    1. Variables
      1a. Containers
      1c. Typography
      1d. Buttons
      1e. Forms
      1f. Tables
      1g. Site header
      1h. Site footer
    2. Containers / Grid / DnD Areas
    3. Typography
    4. Buttons
    5. Forms
    6. Tables
    7. Site header
    8. Site footer
    9. Blog
    10. System pages
    11. Modules

  ##}

{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* 1a. Containers */

{% set container_width = '1240px' %}
{% set vertical_spacing = theme.spacing.vertical_spacing or "80" %}
{% set dnd_section_padding = vertical_spacing ~ 'px ' ~ '30px' %}

/* 1c. Typography */

{% set primary_font = theme.global_fonts.primary_font %}
{% set secondary_font = theme.global_fonts.secondary_font %}

{% set body_font = theme.typography.body_text %}

{% set heading_one = theme.typography.heading_one %}
{% set heading_two = theme.typography.heading_two %}
{% set heading_three = theme.typography.heading_three %}
{% set heading_four = theme.typography.heading_four %}
{% set heading_five = theme.typography.heading_five %}
{% set heading_six = theme.typography.heading_six %}

{% set anchor_font_color = theme.typography.link_color.color %}

/* responsive font sizing */

@media(min-width: 767px) and (max-width: 1000px) {
  html {font-size:calc({{ body_font.size ~ body_font.size_unit }} * .9 );}
  body h1 {font-size:calc({{ heading_one.size ~ heading_one.size_unit }} * .8 );}
  body h2 {font-size:calc({{ heading_two.size ~ heading_two.size_unit }} * .8 );}
  body h3 {font-size:calc({{ heading_three.size ~ heading_three.size_unit }} * .8 );}
  body h4 {font-size:calc({{ heading_four.size ~ heading_four.size_unit }} * .8 );}
  body h5 {font-size:calc({{ heading_five.size ~ heading_five.size_unit }} * .8 );}
  body h6 {font-size:calc({{ heading_six.size ~ heading_six.size_unit }} * .8 );}
}

@media(max-width: 767px) {
  html {font-size:calc({{ body_font.size ~ body_font.size_unit }} * .8 );}
  body h1 {font-size:calc({{ heading_one.size ~ heading_one.size_unit }} * .6 );}
  body h2 {font-size:calc({{ heading_two.size ~ heading_one.size_unit }} * .6 );}
  body h3 {font-size:calc({{ heading_three.size ~ heading_one.size_unit }} * .6 );}
  body h4 {font-size:calc({{ heading_four.size ~ heading_one.size_unit }} * .6 );}
  body h5 {font-size:calc({{ heading_five.size ~ heading_one.size_unit }} * .6 );}
  body h6 {font-size:calc({{ heading_six.size ~ heading_one.size_unit }} * .6 );}
}

/* 1d. Buttons */

{% set button_border = theme.button_styles.general.border_width ~ 'px solid ' ~ theme.button_styles.general.border_color.color %}
{% set button_corner_radius = theme.button_styles.general.border_radius ~ 'px' %}
{% set button_spacing = theme.button_styles.general.vertical_padding ~ 'px' ~ ' ' ~ theme.button_styles.general.horizontal_padding ~ 'px' %}

/* 1e. Forms */

{% set form_background_color = theme.forms.form_background_color.css %}
{% set form_heading_font = theme.forms.form_heading_font %}
{% set form_label_font = theme.forms.form_label_font %}
{% set form_input_font = theme.forms.form_input_font %}
{% set form_placeholder_font = theme.forms.form_placeholder_font %}
{% set input_background = theme.forms.input_background_color %}
{% set input_border = theme.forms.input_border %}
{% set input_border_radius = theme.forms.input_border_radius %}
{% set focused_input_background = theme.forms.focused_input_background_color %}
{% set focused_input_border = theme.forms.focused_input_border %}
{% set submit_button_style = theme.forms.submit_button_style %}
{% set form_spacing = theme.forms.form_spacing %}
{% set form_border_radius = theme.forms.form_border_radius %}


{###########################################################################}
{##################   2. Containers / Grid / DnD Areas   ###################}
{###########################################################################}

.content-wrapper {
  max-width: {{ container_width }};
}

.dnd-section:not([class*='force-full']),
.content-wrapper--vertical-spacing {
  padding: {{ dnd_section_padding }};
}

.dnd-section > .row-fluid {
  max-width: {{ container_width }};
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

html {
  font-size: {{ body_font.size ~ body_font.size_unit }};
  scroll-behavior: smooth;
}

body {
  {{ body_font.style }};
  color: {{ body_font.color }};
}

[class*='__container'] {
  margin: 0 auto;
}

/* Paragraphs */

p {
  {{ body_font.style }};
  font-weight: 300;
}

/* Anchors */

a {
  color: {{ anchor_font_color }};
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: {{ color_variant(anchor_font_color, -40) }};
}

a:active {
  color: {{ color_variant(anchor_font_color, 40) }};
}

/* Headings */

h1 {
  {{ heading_one.style }};
  color: {{ heading_one.color }};
  font-size: {{ heading_one.size ~ heading_one.size_unit }};
  line-height: 1.2;
}

h2 {
  {{ heading_two.style }};
  color: {{ heading_two.color }};
  font-size: {{ heading_two.size ~ heading_two.size_unit }};
  line-height: 1.2;
}

h3 {
  {{ heading_three.style }};
  color: {{ heading_three.color }};
  font-size: {{ heading_three.size ~ heading_three.size_unit }};
}

h4 {
  {{ heading_four.style }};
  color: {{ heading_four.color }};
  font-size: {{ heading_four.size ~ heading_four.size_unit }};
  position: relative;
}

h5 {
  {{ heading_five.style }};
  color: {{ heading_five.color }};
  font-size: {{ heading_five.size ~ heading_five.size_unit }};
}

h6 {
  {{ heading_six.style }};
  color: {{ heading_six.color }};
  font-size: {{ heading_six.size ~ heading_six.size_unit }};
}

/* Blockquote */

blockquote {
  border-left-color: {{ secondary_color }};
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

button,
.button,
.hs-button {
  border: {{ button_border }};
  border-radius: {{ button_corner_radius }};
  padding: {{ button_spacing }};
  text-decoration: none;
}

.funraise-button.button {
  border: {{ button_border }} !important;
  border-radius: {{ button_corner_radius }} !important;
  padding: {{ button_spacing }} !important;
  text-decoration: none !important;
  margin: 1rem 0 0 !important;
}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}


form { 
  background-color: {{ form_background_color }};
  {{ form_spacing.css }};
  border-radius: {{ form_border_radius }}px;
}
form h2, form .form-title { {{ form_heading_font.css }}; }
form input { padding: {{ button_spacing }} !important; {{ form_input_font.css }} background-color: {{ input_background.css }}; border: {{ button_border }}; }
form label { {{ form_label_font.css }}; }
form input::placeholder { {{ form_placeholder_font.css }}; }
form input:focus { background-color: {{ focused_input_background.css }}; {{ focused_input_border.css }} }

ul.no-list.hs-error-msgs.inputs-list {
  position: absolute;
}

form,
.submitted-message {
  {{ body_font.style }};
}

/* Form help text */

form legend {
  color: {{ form_help_text_font_color }};
}

/* Form inputs */

form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  {{ form_input_font.css }} 
  background-color: {{ input_background.css }}; 
  border-radius: {{ input_border_radius }}px;
  {{ input_border.css }}
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=number]:focus,
form input[type=file]:focus,
form select:focus,
form textarea:focus {
  background-color: {{ focused_input_background.css }}; 
  {{ focused_input_border.css }}
}

form input[type=text]:focus-visible,
form input[type=email]:focus-visible,
form input[type=password]:focus-visible,
form input[type=tel]:focus-visible,
form input[type=number]:focus-visible,
form input[type=file]:focus-visible,
form select:focus-visible,
form textarea:focus-visible {
  background-color: {{ focused_input_background.css }}; 
  {{ focused_input_border.css }}
}

/* Form placeholder text */

::-webkit-input-placeholder {
  {{ form_placeholder_font.css }}
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder,
.hs-fieldtype-date .input .hs-dateinput:before {
  {{ form_placeholder_font.css }}
}

/* Date picker */

.fn-date-picker td.is-selected .pika-button {
  background: {{ primary_color }};
}

.fn-date-picker td .pika-button:hover {
  background-color: {{ primary_color }} !important;
}

.fn-date-picker td.is-today .pika-button {
  color: {{ primary_color }};
}

/* Submit button */

/* see _theme.css */

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

table {
  background-color: {{ table_bg_color }};
  border-color: {{ table_border_color }};
}

th,
td {
  border-color: {{ table_border_color }};
  color: {{ table_font_color }};
}

thead th,
thead td {
  background-color: {{ table_head_bg_color }};
  border-bottom-color: {{ table_border_color }};
  color: {{ table_head_font_color }};
}

tfoot td {
  background-color: {{ table_footer_bg_color }};
  color: {{ table_footer_font_color }};
}

{###########################################################################}
{###########################   7. Site header   ############################}
{###########################################################################}

.header__logo .logo-company-name,
.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  color: {{ header_nav_link_color }};
  font-family: {{ body_font.font }}, {{ body_font.fallback }};
}

.header__language-switcher-label-current:hover,
.header__language-switcher-label-current:focus,
.header__language-switcher .lang_list_class li:hover a,
.header__language-switcher .lang_list_class li a:focus {
  color: {{ color_variant(header_nav_link_color, -40) }};
}

.header__language-switcher-label-current:active,
.header__language-switcher .lang_list_class li a:active {
  color: {{ color_variant(header_nav_link_color, 40) }};
}

.header__language-switcher .lang_list_class:before {
  border-bottom-color: {{ header_child_nav_border_color }};
}

.header__language-switcher .lang_list_class.first-active::after {
  border-bottom-color: {{ header_bg_color }};
}

.header__language-switcher-label-current,
.header__language-switcher .lang_list_class li a {
  font-family: {{ body_font.font }}, {{ body_font.fallback }};
}

.header__language-switcher-label-current:after {
  border-top-color: {{ header_nav_link_color }};
}

@media(max-width: 767px) {

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: {{ header_nav_link_color }};
  }
}

{###########################################################################}
{###########################   8. Site footer   ############################}
{###########################################################################}

.footer {
  background-color: {{ footer_bg_color }};
}

/* Footer Content */

.footer p,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer label,
.footer span,
.footer li,
.footer img {
  color: {{ footer_font_color }};
}

{###########################################################################}
{##############################   9. Blog   ################################}
{###########################################################################}

.blog-post,
.blog-header__inner,
.blog-related-posts {
  padding: {{ theme.spacing.vertical_spacing }}px 0;
}

/* Blog listing */

.blog-index__post-title-link {
  color: {{ heading_two.color }};
}

.blog-index__post-tag,
.blog-index__post-author-name {
  color: {{ body_font.color }};
}

/* Blog pagination */

.blog-pagination__link {
  color: {{ body_font.color }};
}

.blog-pagination__link--active:after,
.blog-pagination__prev-link:after,
.blog-pagination__next-link:after {
  background-color: {{ primary_color }};
}

.blog-pagination__next-link svg,
.blog-pagination__prev-link svg {
  fill: {{ body_font.color }};
}

/* Blog post */

.blog-post__meta a {
  color: {{ body_font.color }};
}

.blog-post__tag-link {
  color: {{ body_font.color }};
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus {
  color: {{ color_variant(body_font.color, -40) }};
}

.blog-post__tag-link:active {
  color: {{ color_variant(body_font.color, 40) }};
}

/* Blog related posts */

.blog-related-posts__title a {
  color: {{ heading_two.color }};
}

/* Blog comments */

.blog-comments {
  margin-bottom: {{ theme.spacing.vertical_spacing }}px;
}

#comments-listing .comment-reply-to {
  color: {{ anchor_font_color }};
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  color: {{ color_variant(anchor_font_color, -40) }};
}

#comments-listing .comment-reply-to:active {
  color: {{ color_variant(anchor_font_color, 40) }};

}

a:hover {
  text-decoration: none;
}