
.isotope-pager {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isotope-pager > * + * {
  margin-left: 1rem;
}

.isotope-pager a {
  padding: .25rem .5rem;
  border-radius: 8px;
}

.isotope-pager a.active {
  background-color: var(--primary-color);
  color: white;
}

.listing-search {
  position: relative;
}

.listing-search input {
  padding: 1rem;
  appearance: none;
  width: 100%;
}

span.search-submit {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.listing__filters {
  margin-bottom: 60px;
  display: flex;
  width: 100%;
}

.listing__filter-groups {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.listing__filter-groups > *,
.listing__filters > * {
  width: 100%;
}

.listing__filter-groups > * + *,
.listing__filters > * + * {
  margin-left: 20px;
}

.listing__filters-wrap {
  max-height: 0;
  height: auto;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.listing__filters-wrap.active {
  max-height: 2000px;
  visibility: visible;
  opacity: 1;
}

.listing__filters fieldset {
  border: none;
  outline: none;
  appearance: none;
  margin: 0 auto;
  padding: 0;
}

.listing__filters fieldset > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.listing__filters fieldset > ul li {
  border: 2px solid;
  display: block;
  padding: 0.85rem 2rem;
}

.listing__filters fieldset > ul li.active {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.listing__filters fieldset > ul li + li {
  margin-left: 20px;
}

.listing__filters fieldset > ul li input {
  display: none;
}

.listing__filters fieldset > label h4 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
}

.listing__filters fieldset > label {
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.blog .listing__filters label span,
.blog .listing__filters label {
  display: block;
}

.blog .listing-filters__group {
  position: relative;
}

.blog .listing__filter-groups > * + * {
  margin-left: 20px;
}

.blog .listing__filters label h4 {
  border: 2px solid;
  display: block;
  padding: 0.85rem 2rem;
  font-size: 1rem;
}

.blog .listing__filters label + ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transition: max-height .5s ease-in-out;
}

.blog .listing__filters fieldset.active h4 {
  border-bottom: none;
}

.blog .listing__filters fieldset.active label + ul {
  max-height: 300px;
  overflow: scroll;
  z-index: 99;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}

.blog .listing__filters fieldset > ul li {
  border: none;
  padding: 5px 2rem;
  display: block;
  width: 100%;
}

.listing__search button {
  padding: 19px 44px;
}

.body-container--podcasts-post #hs_cos_wrapper_post_dnd_area-dnd_partial-2-module-2_ {
  text-align: center;
}

.equal-height > * {
  position: relative;
  padding-bottom: 60px !important;
}

.equal-height > * [class*='__content-link'] {
  bottom: 0 !important;
  left: 0;
  position: absolute !important;
  width: 100% !important;
}

.equal-height > * [class$='__content'] {
  padding-bottom: 40px !important;
}