.events-sidebar .listing__filter-groups fieldset {
  appearance:none;
  outline:none;
  border: none;
}

.events-sidebar .listing__filter-groups {
  margin: 40px 0;
  text-align: left;
}

.events-sidebar .listing__filter-groups fieldset ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

.events-sidebar .listing__filter-groups fieldset ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events-sidebar .listing__filter-groups fieldset ul li * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.events-sidebar .listing__filter-groups fieldset ul li + li {
  margin-top: 1rem;
}

.events-sidebar .listing__filter-groups fieldset ul li input {
  margin-right: 1rem;
}