{% set module_name = "resource-header" %}
{% from '../../templates/partials/utils/macros.html' import
  slugify,
  icons,
  waves,
  build_button,
  flex_grid,
  transition,
  transform,
  borderRadius,
  boxShadow,
  textShadow
%}

<div id="{{ name }}" class="{{ module_name }}">
  <div class="{{ module_name }}__background">
  </div>
  <div class="{{ module_name }}__overlay"></div>
  {% if module.background_options.add_curve == "true" %}
    {% set wave_name = module.styles.curve_styles.curve_style or "wave_1" %}
    <div class="{{ module_name }}__wave">
      {{ waves(wave_name) }}
    </div>
  {% endif %}
  <div class="{{ module_name }}__container">
    <div class="{{ module_name }}__row">
      <div class="{{ module_name }}__wrap">
        {% if module.content.topic %}
          <div class="{{ module_name }}__topic">
            <p>
              {{ module.content.topic }}
            </p>
          </div>
        {% endif %}
        {% if module.content.title %}
          <div class="{{ module_name }}__title">
            <h2>
              {{ module.content.title }}
            </h2>
          </div>
        {% endif %}
        <div class="{{ module_name }}__lower">
          {% if module.content.date %}
            <div class="{{ module_name }}__date">
              <p>
                {{ module.content.date }}
              </p>
            </div>
          {% endif %}
        </div>
        <div class="{{ module_name }}__share">
          <ul>
            {% for item in share_links %}
              {% set this_share_link = item.link %}
              <li>
                <a href="{{ this_share_link }}">{{ icons(item.network) }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% require_css %}
<style>

  #{{ name }} {
    {% set border_radius = module.styles.module_styles.border_radius + "px" %}
    {{ borderRadius(border_radius) }}
  }
  
  #{{ name }} .{{ module_name }}__background {
    {% if module.styles.background_styles.color %}background:{{ module.styles.background_styles.color.css }};{% endif %}
    {% if module.styles.background_styles.gradient %}background-image:{{ module.styles.background_styles.gradient.css }};{% endif %}
    {% if module.styles.background_styles.image %}{{ module.styles.background_styles.image.css }}{% endif %}
  }
  {% if module.background_options.overlay == "true" %}
    #{{ name }} .{{ module_name }}__overlay {
      background:{{ module.styles.overlay_styles.color.css }};
      background-image:{{ module.styles.overlay_styles.gradient.css }};
      {% if module.styles.overlay_styles.image %}{{ module.styles.overlay_styles.image.css }}{% endif %}
    }
  {% endif %}
  
  #{{ name }} .{{ module_name }}__container {
    {{ module.styles.module_styles.spacing.css }}
  }
  
  {% set button_object = "#" + name + " input[type='submit']" %}
  {% set button_style = module.content.form_options.button_style + "_outline" if module.content.form_options.ghost_button == "true" else module.content.form_options.button_style %}
  {{ build_button(button_object, button_style) }}
  
  #{{ name }} .{{ module_name }}__container > * {
    {% if module.styles.module_styles.max_content_width %}max-width:{{ module.styles.module_styles.max_content_width }}px;{% endif %}
    {% if module.styles.module_styles.alignment.horizontal_alignment %}
      {% if module.styles.module_styles.alignment.horizontal_alignment == "LEFT" %}
        margin-left: 0;
        margin-right: auto;
      {% elif module.styles.module_styles.alignment.horizontal_alignment == "CENTER" %}
        margin-left: auto;
        margin-right: auto;
      {% elif module.styles.module_styles.alignment.horizontal_alignment == "RIGHT" %}
        margin-left: auto;
        margin-right: 0;
      {% endif %}
    {% endif %}
  }
  
  #{{ name }} * {
    text-align: {{ module.styles.module_styles.text_alignment.text_align }};
  }
  
  #{{ name }} .{{ module_name }}__container h2 {
    {% if module.styles.module_styles.header_font %}{{ module.styles.module_styles.header_font.css }}{% endif %}
  }
  
  #{{ name }} .{{ module_name }}__container h2 span {
    color: #FFCF01;
    font-style: italic;
    line-height: 115%;
  }
  
  #{{ name }} .{{ module_name }}__container .{{ module_name }}__content,
  #{{ name }} .{{ module_name }}__container .{{ module_name }}__content > * {
    {% if module.styles.module_styles.header_font %}{{ module.styles.module_styles.content_font.css }}{% endif %}
  }
  
  {% if module.background_options.add_curve == "true" %}
    #{{ name }} .{{ module_name }}__wave svg path {
      {% if module.styles.curve_styles.color %}fill:{{ module.styles.curve_styles.color.css }};{% endif %}
    }
    #{{ name }} .{{ module_name }}__wave {
      border-bottom: 4px;
      {% if module.styles.curve_styles.color %}border-color:{{ module.styles.curve_styles.color.css }};{% endif %}
    }
    #{{ name }} .{{ module_name }}__container {
      margin-bottom: 8vw;
    }
  {% endif %}
  
  form[data-form-id*='f39e6351-78d9-45a3-b8d6-3e5dc12b9ea7'] > *:first-child input {
    {{ borderRadius("30px 0px 0px 30px") }}
  }
  
  form[data-form-id*='f39e6351-78d9-45a3-b8d6-3e5dc12b9ea7'] input[type='submit'] {
    {{ borderRadius("0px 30px 30px 0px") }}
    margin-top: 3px;
  }
 

</style>
{% end_require_css %}

{% require_js %}
<script>
$(function() {
 
  {% if module.background_options.parallax_effect == "true" %}

  const init_parallax = function(target, strength) {
    let initial_offset = "center -" + (1 * strength) + "px";
    $(target).attr("style", "background-position:" + initial_offset + " !important;background-repeat:repeat-y !important;");
    $(window).on("scroll", function() {
      let offset = "center -" + ($(window).scrollTop() * strength) + "px";
      $(target).attr("style", "background-position:" + offset + " !important;background-repeat:repeat-y !important;");
    });
  };

  init_parallax(`#{{ name }}`, {{ module.background_options.parallax_strength }});

  {% endif %}
  
  {% if module.background_options.add_curve == "true" %}
  
  const init_fix_overlap = function() {
    let hero = $(".{{ module_name }}"),
        closest_section = hero.closest(".dnd-section"),
        next_section = closest_section.next();
    next_section.addClass("z-forward");
  };
  init_fix_overlap();
  
  {% endif %}
  
});
</script>
{% end_require_js %}